# 1 - Specify the version for docker-compose.yml
version: "3.8"

# 2- set network
#networks:
#  proxy:
#    driver: bridge

# 3 - Generate the services
services:
  redis:
    image: redis:alpine
    command: redis-server /usr/local/etc/redis/redis.conf --requirepass Imyourfather
    ports:
      - "6379:6379"
    volumes:
      - ./conf.d/redis.conf:/usr/local/etc/redis/redis.conf

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    command: mongod
    restart: always

  instance:
    depends_on:
      - mongo
      - redis
    build: .
    volumes:
      - ./:/usr/app
      - /usr/app/node_modules
    restart: always
    #ports:
    #  - "3000:3000"
    command: yarn dev

  nginx:
    image: nginx:latest
    volumes:
      - ./conf.d/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - instance
    #restart: always
    ports:
      - 3000:3000
